{% extends 'base.html' %}

{% block content %}
<div class="row">
   <div class="col wf text-center">
    <img src="{{url_for('static',filename='images/home-banner.jpg')}}" alt="" class="opacity-2"  width="580" height="580" >
  </div>
<div class="col wf mt-5 mr-5 mb-4">
      
               <form name="f" action="{{ url_for('content_set.select_country') }}" method="POST"  enctype="multipart/form-data">
                      <div class="form-group">
                        Country
                        <select name="Country" id="Country" onchange="document.f.submit();" class="form-select form-select-sm ">
                            <option value="none">please select a country</option>
                            {% for value in countries %}
                              <option value="{{value[0]}}" {% if value[0]==selected_country %} selected {% endif %}>{{value[0]}}</option>
                            {% endfor %}
                          </select>
                          <br>
                      </div>
                    </form>
                    <form action="{{ url_for('content_set.upload') }}" method="POST" enctype="multipart/form-data">

                      {% if selected_country %}
                      <div class="form-group">
                      Location
                      <select name="Location" id="coun" onchange="document.f.submit();" class="form-select form-select-sm ">
                        {% for value in locations %}

                           <option value="{{value[0]}}">{{value[0]}}</option>
                     
                        {% endfor %}
                        
                      </select>
                      <br>
                     </div>
                     {% endif %}
                  
                    
                     <div class="form-group">
                       <label>Exported from Field:</label>
                       <input type="date" class="form-control" name="Exported on" required="1">
                   </div>
      
      
                     <div class="form-group">
                       <label>Imported to UDAT:</label>
                       <input type="date" class="form-control" name="Imported on" required="1">
                     </div>
                    
                   
                   <div class="form-group">
                       <label>Library Version:</label>
                       <input type="text" class="form-control" name="Library version" required="1">
                   </div>
   
                    <div class="file btn btn-sm btn-primary">
                        Upload
                        <input type="file" name="csvfiles" id="file_upload" accept=".csv" multiple/>
                    </div>
                 
               
               <br>   
               <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
      
               {% with messages = get_flashed_messages() %}
               {% if messages %}
                  <div class="notification is-danger text-maroon">
                      {{ messages[0] }}
                  </div>
                {% endif %}
              {% endwith %}   
   </div>
</div>
{% endblock content %}