{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3 text-center mt-4">
    <h3 class="mt-4">Admin Tools</h3>
    <form action="{{ url_for('user_login.manage_users') }}">
    <button class="bg-sunglow btn-lg btn-block mt-4">Manage Users</button> <br><br>
    </form>
    <form action="{{ url_for('countries.manage_countries') }}">
    <button class="bg-sunglow  btn-lg btn-block ">Manage Countries</button><br><br>
    </form>
    <form action="{{ url_for('location.manage_locations') }}">
    <button class="bg-sunglow  btn-lg btn-block "  >Manage Locations</button><br><br>
    </form>

</div>
{% endblock content%}

