{% extends 'base.html' %}
{% block content %}
<div  class="row">
  <div  class="col-md-12 bg-sunglow-50">
   <form action="{{ url_for('content.plot')}}" method="POST">
      <br>
      <label for="search" class="text-primary-dark text-center col-md-6 offset-md-3"> Search content by title</label> 
      <div class="input-group rounded text-center col-md-6 offset-md-3 ">                     
         <input name="search" id="search" type="search" class="form-control rounded" placeholder="Search by Title..." aria-label="Search"
         aria-describedby="search-addon"/>                  
         <button name="submit_button" class="btn bg-light-grey"><i class="fas fa-search"></i></button>              
      </div>
      <br>     
      
      <br>
  </div>
  <h5 class="text-center text-primary-dark mt-3">OR</h5>
</div>
</br>
{% with messages = get_flashed_messages() %}
      {% if messages %}
         <div class="notification is-danger text-maroon text-center mt-3">
             {{ messages[0] }}
         </div>
       {% endif %}
{% endwith %}
<div class="row offset-md-2 no-margin">
   <div class="col-sm mt-3">   
      <label for="col" class="text-primary-dark"> Select from primary filter to group data</label>
      <select name="col" id="col" class="form-select form-select-lg">
         <option value="none" name="none">--primary selection--</option>
         <option value="language" {% if col == "language"%} selected {% endif %}>Language</option>
         <option value="content_type" {% if col == "content_type"%} selected {% endif %}>Content Type</option>
         <option value="subject" {% if col == "subject"%} selected {% endif %}>Subject</option>
         <option value="parent_folder" {% if col == "parent_folder"%} selected {% endif %}>Parent Folder</option>
         <option value="browser" {% if col == "browser"%} selected {% endif %}> Browser</option>
         <option value="device_type" {% if col == "device_type"%} selected {% endif %}>Device Type</option>
         <option value="device_os" {% if col == "device_os"%} selected {% endif %}>Device Operating System</option>
      </select>
   </div>
   <div class="col-sm mt-3">  
      <div class="offset-md-4">
         <button name="submit_button" class="btn-lg bg-primary-light text-white mb-4" value="plot">Show bar plot &nbsp;<i class="fas fa-chart-bar"></i></button>
         &nbsp; &nbsp; &nbsp; &nbsp;
         <button name="submit_button" class="btn-lg bg-primary-light text-white mb-4" value="list">Show List &nbsp; <i class="fas fa-scroll"></i></button>
         <br> 
      </div>
   </div>
</div>
     
<div class="row offset-md-2 mt-1 mb-5">
   <div class="col-sm"> 
      <a class="btn text-primary-light border-primary-dark mb-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
         Advanced filters <i class="fas fa-angle-down"></i>
      </a>                  
      <div class="collapse" id="collapseExample">
         <div class="card card-body col-md-4">
               <select name="lang" id="lang" class="form-select form-select-sm">
                  <option value="Language">Language</option>
                  {% for value in language %}
                  <option value="{{value[0]}}">{{value[0]}}</option>
                  {% endfor %}
               </select>
               &nbsp;
               <select name="con_type" id="con_type" class="form-select form-select-sm">
                  <option value="content_type">Content Type</option>
                  {% for value in content_type %}
                     <option value="{{value[0]}}">{{value[0]}}</option>
                  {% endfor %}
               </select>
               &nbsp;
               <select name="subject" id="subject" class="form-select form-select-sm">
                  <option value="subject">Subject</option>
                  {% for value in subject %}
                     <option value="{{value[0]}}">{{value[0]}}</option>
                  {% endfor %}
               </select>
               &nbsp;
               <select name="parent_folder" id="parent_folder" class="form-select form-select-sm">
                  <option value="parent_folder">Parent Folder</option>
                  {% for value in parent_folder %}
                     <option value="{{value[0]}}">{{value[0]}}</option>
                  {% endfor %}
               </select>
               &nbsp;
               <select name="browser" id="browser" class="form-select form-select-sm">
                  <option value="browser">Browser</option>
                  {% for value in browser %}
                     <option value="{{value[0]}}">{{value[0]}}</option>
                  {% endfor %}
               </select>&nbsp;         
               <br>
               <select name="device_type" id="device_type" class="form-select form-select-sm">
                  <option value="device_type">Device Type</option>
                  {% for value in device_type %}
                     <option value="{{value[0]}}">{{value[0]}}</option>
                  {% endfor %}
               </select>
               &nbsp;
               <select name="device_os" id="device_os" class="form-select form-select-sm">
                  <option value="device_os">Device Operating System</option>
                  {% for value in device_os %}
                     <option value="{{value[0]}}">{{value[0]}}</option>
                  {% endfor %}
               </select>
               &nbsp;
               <select name="lib_version" id="lib_version" class="form-select form-select-sm">
                  <option value="lib_version">Version</option>
                  {% for value in version  %}
                     <option value="{{value[0]}}">{{value[0]}}</option>
                  {% endfor %}
               </select>
               &nbsp;
               <select name="location" id="location" class="form-select form-select-sm">
                  <option value="location"> location </option>
                  {% for value in location %}
                     <option value="{{value[0]}}">{{value[0]}}</option>
                  {% endfor %}
               </select>
               &nbsp;
               <select name="country" id="country" class="form-select form-select-sm">
                  <option value="country"> country </option>
                  {% for value in country %}
                     <option value="{{value[0]}}">{{value[0]}}</option>
                  {% endfor %}
               </select>               
         </div>
      </div>
   
   </form>  
   </div>
</div>    
    
{% endblock %}



 