{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-5 offset-md-3 text-center mt-5">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
         <div class="notification is-danger text-maroon">
             {{ messages[0] }}
         </div>
       {% endif %}
     {% endwith %}
        <form action="{{ url_for('content.plot') }}" method="POST">
            <label for="col" class="text-primary-dark">Please select the data you wish to plot</label>
            <br>
            <select name="col" id="col" class="form-select form-select-lg mb-3">
               <option value="none" name="none">--please select--</option>
               <option value="language" {% if col == "language"%} selected {% endif %}>Language</option>
               <option value="content_type" {% if col == "content_type"%} selected {% endif %}>Content Type</option>
               <option value="subject" {% if col == "subject"%} selected {% endif %}>Subject</option>
               <option value="parent_folder" {% if col == "parent_folder"%} selected {% endif %}>Parent Folder</option>
               <option value="browser" {% if col == "browser"%} selected {% endif %}> Browser</option>
               <option value="device_type" {% if col == "device_type"%} selected {% endif %}>Device Type</option>
               <option value="device_os" {% if col == "device_os"%} selected {% endif %}>Device Operating System</option>

            </select>
            <br>
            <label for="lang" class="text-primary-dark">Advanced Filtering</label>
            <br>
            <select name="lang" id="lang" class="form-select form-select-sm bg-sunglow">
                <option value="Language">Language</option>
               {% for value in language %}
                  <option value="{{value[0]}}">{{value[0]}}</option>
               {% endfor %}
            </select>
            &nbsp;
            <select name="con_type" id="con_type" class="form-select form-select-sm bg-sunglow ">
                <option value="content_type">Content Type</option>
                {% for value in content_type %}
                   <option value="{{value[0]}}">{{value[0]}}</option>
                {% endfor %}
             </select>
             &nbsp;
             <select name="subject" id="subject" class="form-select form-select-sm bg-sunglow">
                 <option value="subject">Subject</option>
                {% for value in subject %}
                   <option value="{{value[0]}}">{{value[0]}}</option>
                {% endfor %}
             </select>
             &nbsp;
             <select name="parent_folder" id="parent_folder" class="form-select form-select-sm bg-sunglow">
                 <option value="parent_folder">Parent Folder</option>
                {% for value in parent_folder %}
                   <option value="{{value[0]}}">{{value[0]}}</option>
                {% endfor %}
             </select>
             &nbsp;
             <select name="browser" id="browser" class="form-select form-select-sm bg-sunglow">
                 <option value="browser">Browser</option>
                {% for value in browser %}
                   <option value="{{value[0]}}">{{value[0]}}</option>
                {% endfor %}
             </select>
             
            
             <br>
             <select name="device_type" id="device_type" class="form-select form-select-sm bg-sunglow">
                 <option value="device_type">Device Type</option>
                {% for value in device_type %}
                   <option value="{{value[0]}}">{{value[0]}}</option>
                {% endfor %}
             </select>
             &nbsp;
             <select name="device_os" id="device_os" class="form-select form-select-sm bg-sunglow">
                 <option value="device_os">Device Operating System</option>
                {% for value in device_os %}
                   <option value="{{value[0]}}">{{value[0]}}</option>
                {% endfor %}
             </select>
             &nbsp;

             <select name="lib_version" id="lib_version" class="form-select form-select-sm bg-sunglow">
               <option value="lib_version">Version</option>
              {% for value in version  %}
                 <option value="{{value[0]}}">{{value[0]}}</option>
              {% endfor %}
           </select>
           &nbsp;

           <select name="location" id="location" class="form-select form-select-sm bg-sunglow">
            <option value="location"> location </option>
            {% for value in location %}
               <option value="{{value[0]}}">{{value[0]}}</option>
            {% endfor %}
            </select>
             &nbsp;
            <select name="country" id="country" class="form-select form-select-sm bg-sunglow">
               <option value="country"> country </option>
            {% for value in country %}
               <option value="{{value[0]}}">{{value[0]}}</option>
            {% endfor %}
            </select>
            &nbsp;
            <br>
            <br>
            <button name="submit_button" class="btn-sm bg-primary-light text-white mb-4" value="plot">Show plot</button>
            <button name="submit_button" class="btn-sm bg-primary-light text-white mb-4" value="list">Show List</button>
            <br>
      </form>
           
    </div>
    
    
    
    </div>
    
</div>
{% endblock %}