<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--Title name -->
    {% if title%}
    <title>{{title}}</title>
    {%else%}
    <title>UDAT</title>
    {%endif%}


  </head>
  <body>

    <!--Navigation bar-->
    <nav class="navbar navbar-expand-xl navbar-dark bg-primary-light">
      <div class="container-fluid">
        <a class="navbar-brand small"  href="{{ url_for('main.show') }}" >
            <img src="{{url_for('static', filename='images/logo.png')}}" width="50" height="50" alt="solarSPELL">
            &nbsp; SolarSPELL
        </a>
       
      </div> 
    
    </nav>

    
    {% block content %}
    {% endblock %}

    <!--Footer-->
    <footer class="footer bg-primary-light flex-bottom">
      <div class="container">
         <div class="row ">
           <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
             <h6 class="text-white mt-3" >Usage Data Analaysis Tool</h6>
              <p class="text-white" style="font-size: small;">
              Where you can easily analyze and visualize the SolarSPELL's library usage data.
              <br>2021
              </p>
           </div>
         </div>
      </div>
      
    </footer>

  </body>
</html>