<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<h1>Edit Informations</h1>

    <p1>
    <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
    </p1>
  
  <div id="modaledit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Update Information</h4>
          </div>
          <div class="modal-body">
               <form action="{{request.path}}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Location:</label>
                  <input type="hidden"  name="id" value="">
  
                  <input type="text" class="form-control" name="Location" value="{{ location }}">
                </div>
                <div class="form-group">
                   <label>Exported_on:</label>
  
                   <input type="date" class="form-control" name="Exported_on" value="{{ exported_on }}">
                </div>
  
  
                <div class="form-group">
                   <label>Imported_on:</label>
  
                   <input type="date" class="form-control" name="Imported_on" value="{{ imported_on }}">
                </div>
                <div class="form-group">
                   <label>Imported_by:</label>
 
                  <input type="text" class="form-control" name="Imported_by" value="{{ imported_by }}">
                </div>
               <div class="form-group">
                  <label>Lib_version:</label>

                  <input type="text" class="form-control" name="Lib_version" value="{{ lib_version }}">
                </div>
                <div class="form-group">
  
  
                   <button class="btn btn-primary" type="Save">Save</button>
  
  
                </div>
  
  
             </form>
  
  
          </div>
  
  
          <div class="modal-footer">
  
  
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  
  
          </div>
  
  
       </div>
  
  
    </div>
  
 </div>