{% extends 'base.html' %}
{% block content %}

<!--button for add country-->
<div class="text-center">
      
    <button type="button" class = "text-white btn-lg mt-4 mb-3 bg-primary-light" data-toggle="modal" data-target="#exampleModalCenter1"> Add Country</button>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
       <div class="notification is-danger text-maroon">
           {{ messages[0] }}
       </div>
     {% endif %}
   {% endwith %}    
</div>
<!--modal linked to add country button-->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1Title" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Add Country Form</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       <form  action="{{ url_for('countries.add_country') }}" method="POST">
           <label for="cn1">Country Name</label>
           <input type="Enter username" name="cn1" required="1">
           <br>
           
           <button type="save" class="btn btn-primary">Add Country</button>
   
       </form>
    </div>
    <div class="modal-footer">
     
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     
    </div>
  </div>
</div>
</div>


<!--create table of all countries-->
<div class="container -sm">
    <table class="table table-striped">
     <thead>
         <tr>
             <th scope="col">ID </th>
             <th scope="col">Country</th>
             <th></th>
             <th></th>
         </tr>
     </thead>
     <tbody>
         {% for country in country %}
         <tr>
             <th scope="row">{{country.id}}</th>
             <td>{{country.name}}</td>
             
             <!--Edit button-->
             <td><button type="submit" class="btn-sm btn-block bg-primary-light text-white" data-toggle="modal" data-target="#{{country.id}}" data_id="{{country.id}}"> Edit</button></td>
             <!--edit form-->
             <div class="modal fade" id="{{country.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                 <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Edit Country Form</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                       <form action="{{ url_for('countries.edit_country', id = country.id)}}" method="POST" enctype="multipart/form-data">
                           <label for="cn">Country Name</label>                                   
                           <input type="text" name="cn" value="{{country.name}}">
                           <br>
                           
                           <button type="save" class="btn btn-primary">Edit</button>                                                                 
                       </form>
                    </div>
                    <div class="modal-footer">              
                     
                      <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                     
                    </div>
                  </div>
                </div>
              </div>
              <!--delete button-->
               <td>
                 <button class=" btn-danger"  data-toggle="modal" data-target="#exampleModalCenter{{country.name}}">Delete</button>
                <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter{{country.name}}">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle{{country.id}}">Deleting Record Permanently</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                         </button>
                        </div>
                        {% set count = namespace(value=0)%}
                        {% set count2 = namespace(value=0)%}
                        {% for loc in location %}
                            {% if loc[0]==country.id%}
                                {% set count.value = count.value + 1  %}
                                {%for c in con%}
                                   {% if c[0] == loc[0]%}
                                      {% set count2.value = count2.value + 1  %}
                                   {% endif %}
                                {% endfor %}
                                   
                            {% endif %}
                        {%endfor%}
                        <div class="modal-body">
                          {% if count.value != 0 %}
                            <h5 class="text-danger font-weight-bold">Deleteing {{country.name}} will delete {{count.value}} location(s) and {{count2.value}} content set(s)</h3>
                          {% endif %}
                           <p>Are you sure you want to delete {{country.name}} ?</p>
                         </div>
                         <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
         
                           <form action="{{url_for('countries.delete', id=country.id)}}" method="post">
                             <input type="submit" value="Delete" class="btn btn-danger">
                           </form>
                         </div>
                       </div>
                     </div>
                   </div>
                      
                </td>
            </tr>
           {% endfor %}
       </tbody>
   </table>
   </div>

{% endblock %}