{% extends 'base.html' %}
{% block content %}

<!--button for add country-->
<div class="text-center">
      
    <button type="button" class = "text-white btn-lg mt-4 mb-3 bg-primary-light" data-toggle="modal" data-target="#exampleModalCenter1"> Add Region</button>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
       <div class="notification is-danger text-maroon">
           {{ messages[0] }}
       </div>
     {% endif %}
   {% endwith %}    
</div>
<!--modal linked to add country button-->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1Title" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Add Region Form</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       <form  action="{{ url_for('region.add_region') }}" method="POST">
           <label for="rn">Region Name</label>
           <input type="Enter username" name="rn" required="1">
           <br>           
           <button type="save" class="btn btn-primary">Add Region</button>   
       </form>
    </div>
    <div class="modal-footer">     
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>     
    </div>
  </div>
</div>
</div>


<!--create table of all countries-->
<div class="container -sm">
    <table class="table table-striped">
     <thead>
         <tr>
             
             <th scope="col">Region</th>
             <th></th>
             <th></th>
         </tr>
     </thead>
     <tbody>
         {% for reg in region %}
         <tr>

             <td>{{reg.name}}</td>
             
             <!--Edit button-->
             <td><button type="submit" class="btn-sm btn-block bg-primary-light text-white" data-toggle="modal" data-target="#{{reg.id}}" data_id="{{reg.id}}"> Edit</button></td>
             <!--edit form-->
             <div class="modal fade" id="{{reg.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                 <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Edit Region Form</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                       <form action="{{ url_for('region.edit_region', id = reg.id)}}" method="POST" enctype="multipart/form-data">
                           <label for="cn">Region Name</label>                                   
                           <input type="text" name="rn" value="{{reg.name}}">
                           <br>
                           
                           <button type="save" class="btn btn-primary">Edit</button>                                                                 
                       </form>
                    </div>
                    <div class="modal-footer">              
                     
                      <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                     
                    </div>
                  </div>
                </div>
              </div>
              <!--delete button-->
               <td>
                 <button class=" btn-danger"  data-toggle="modal" data-target="#modal{{reg.id}}">Delete</button>
                <!-- Modal -->
                  <div class="modal fade" id="modal{{reg.id}}">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle{{reg.id}}">Deleting Record Permanently</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                         </button>
                        </div>
                        
                        {% set count = namespace(value=0)%}
                        {% set count2 = namespace(value=0)%}
                        {% for c in country %}
                            {% if c.region_id==reg.id%}
                                {% set count.value = count.value + 1  %}
                                {%for content in con%}
                                  {% if content[1].country_id == c.id%}
                                      {% set count2.value = count2.value + 1  %}
                                  {% endif %}
                                {% endfor %}                                   
                            {% endif %}
                        {%endfor%}
                        <div class="modal-body">
                          {% if count.value != 0 %}
                            <h5 class="text-danger font-weight-bold">Deleteing {{reg.name}} will delete {{count.value}} country(s) and {{count2.value}} content set(s)</h3>
                          {% endif %}
                           <p>Are you sure you want to delete {{reg.name}} ?</p>
                         </div>
                         <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
         
                           <form action="{{url_for('region.delete', id=reg.id)}}" method="post">
                             <input type="submit" value="Delete" class="btn btn-danger">
                           </form>
                         </div>
                       </div>
                     </div>
                   </div>
                      
                </td>
            </tr>
           {% endfor %}
       </tbody>
   </table>
   </div>

{% endblock %}