{% extends 'base.html' %}
{% block content %}

<!--button for add users-->
<div class="text-center">
      
    <button type="button" class = "text-white btn-lg mt-4 mb-3 bg-primary-light" data-toggle="modal" data-target="#exampleModalCenter"> Add Location </button>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
       <div class="notification is-danger text-maroon">
           {{ messages[0] }}
       </div>
     {% endif %}
   {% endwith %}    
</div>
<!--modal linked to add country button-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Location Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">    
         <form  action="{{ url_for('location.add_location') }}" method="POST">
                <label for="cn1">Location Name</label>
                <input type="Enter username" name="ln" required="1">
                <br>
                <select name="coun" id="coun"  class="form-select form-select-sm ">
                  {% for value in countries %}
                  <option value="{{value[0]}}" >{{value[0]}}</option>
                 {% endfor %}
                 </select>
                 <br>

                
                <button type="save" class="btn btn-primary">Add Location</button>
        
            </form>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
      </div>
      </div>
          
      </div>
   
  
  
  

<!--create table of all locations-->
<div class="container -sm">
    <table class="table table-striped">
     <thead>
         <tr>
             <th scope="col">ID </th>
             <th scope="col">Location</th>
             <th scope="col">Country</th>

             <th></th>
             <th></th>
         </tr>
     </thead>
     <tbody>
         {% for location in locations %}
         <tr>
             <th scope="row">{{location.Location.id}}</th>
             <td>{{location.Location.name}}</td>
             <td>{{location.Country.name}}</td>

          
         <!--Edit button-->
         <td><button type="submit" class="btn-sm btn-block bg-primary-light text-white" data-toggle="modal" data-target="#{{location.Location.id}}" data_id="{{location.Location.id}}"> Edit</button></td>
         <!--edit form-->
         <div class="modal fade" id="{{location.Location.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Edit Location Form</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                   <form action="{{ url_for('location.edit_location', id = location.Location.id)}}" method="POST" enctype="multipart/form-data">
                       <label for="ln">Location Name</label>                                   
                       <input type="text" name="ln" value="{{location.Location.name}}">
                       <br>
                       Country
                       <select name="Country" id="Country"  class="form-select form-select-sm ">
                         <option value="{{location.Country.name}}">{{location.Country.name}}</option>
                        {% for value in countries %}
                        <option value="{{value[0]}}" {% if value[0]==selected_country %} selected {% endif %}>{{value[0]}}</option>
                       {% endfor %}
                       </select>
                       <br>
                     
                       
                       <button type="save" class="btn btn-primary">Edit</button>                                                                 
                   </form>
                </div>
                <div class="modal-footer">              
                 
                  <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                 
                </div>
              </div>
            </div>
          </div>
          <!--delete button-->
           <td>
             <button class=" btn-danger" data-toggle="modal" data-target="#exampleModalCenter{{location.Location.id}}">Delete</button>
             <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter{{location.Location.id}}">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle{{location.Location.id}}">Deleting Record Permanently</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% set count = namespace(value=0)%}
                {% for con in contents %}
                    {% if con[0]==location.Location.id%}
                        {% set count.value = count.value + 1  %}
                    {% endif %}
                {%endfor%}
                <div class="modal-body">
                 <h3>Deleteing {{location.Location.name}} will delete {{count.value}} Contentset(s)</h3>
                  <p>Are you sure you want to delete {{location.Location.name}} ?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                  <form action="{{url_for('location.delete', id=location.Location.id)}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                  </form>
                </div>
              </div>
            </div>
          </div>
             
          </td>
        </tr>
           
{% endfor %}  
</tbody>
</table>       

{% endblock %}