{% extends 'base.html' %}
{% block content %}
<div class="mt-4">
   <h3 class="text-center ml-4">Table of usage data grouped by {{selected_col}}</h3>
</div>
<div class="col-md-6 offset-md-3 text-center">
<table class="table table-style bg-white mt-4">     
  <thead>
    <tr>
      <th scope="col"> Total </th>
      <th scope="col">{{selected_col}}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="body">
    {% for data in y %} 
    <tr>
      <td>{{data[4]}}</td>            
      <td id="language"  class="bg-sunglow">
        {% if selected_col == 'language'%}            
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.language) }}"> 
          <button class="btn" name="titles">{{data.Content.language}}</button>
        </form>                              
        {%endif%}
        {% if selected_col == 'content_type'%}
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.content_type) }}"> 
          <button class="btn" name="titles"  data-toggle="collapse" data-target="#{{data.Content.content_type}}" class="accordion-toggle" data-arg='{{loop.index}}'>{{data.Content.content_type}}</button>
        </form>
        {%endif%}
        {% if selected_col == 'subject'%} 
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.subject) }}">               
            <button class="btn" name="titles" data-toggle="collapse" data-target="#{{data.Content.subject}}" class="accordion-toggle">{{data.Content.subject}}</button>
        </form>
        {%endif%}  
        {% if selected_col == 'parent_folder'%}
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.parent_folder) }}"> 
            <button class="btn" name="titles"  data-toggle="collapse" data-target="#{{data.Content.parent_folder}}" class="accordion-toggle" data-arg='{{loop.index}}'>{{data.Content.parent_folder}}</button>
        </form>
        {%endif%} 
        {% if selected_col == 'browser'%}
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.browser) }}"> 
            <button class="btn">{{data.Content.browser}}</button>
        </form>
        {%endif%}  
        {% if selected_col == 'device_type'%}
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.device_type) }}"> 
            <button class="btn">{{data.Content.device_type}}</button>
        </form>
        {%endif%}
        {% if selected_col == 'device_os'%}
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.device_os) }}"> 
            <button class="btn">{{data.Content.device_os}}</button>
        </form>
        {%endif%} 
                        
      </td>
      <td>
        {% if selected_col == 'language'%}            
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.language) }}"> 
          <button class="btn btn-primary" name="titles">More Details</button>
        </form>                              
        {%endif%}
        {% if selected_col == 'content_type'%}
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.content_type) }}"> 
          <button class="btn btn-primary" name="titles"  data-toggle="collapse" data-target="#{{data.Content.content_type}}" class="accordion-toggle" data-arg='{{loop.index}}'>More Details</button>
        </form>
        {%endif%}
        {% if selected_col == 'subject'%} 
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.subject) }}">               
            <button class="btn btn-primary" name="titles" data-toggle="collapse" data-target="#{{data.Content.subject}}" class="accordion-toggle">More Details</button>
        </form>
        {%endif%}  
        {% if selected_col == 'parent_folder'%}
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.parent_folder) }}"> 
            <button class="btn btn-primary" name="titles"  data-toggle="collapse" data-target="#{{data.Content.parent_folder}}" class="accordion-toggle" data-arg='{{loop.index}}'>More Details</button>
        </form>
        {%endif%} 
        {% if selected_col == 'browser'%}
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.browser) }}"> 
            <button class="btn btn-primary">More Details</button>
        </form>
        {%endif%}  
        {% if selected_col == 'device_type'%}
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.device_type) }}"> 
            <button class="btn btn-primary">More Details</button>
        </form>
        {%endif%}
        {% if selected_col == 'device_os'%}
        <form action="{{ url_for('content.selected_row',selected_row=data.Content.device_os) }}"> 
            <button class="btn btn-primary">More Details</button>
        </form>
        {%endif%} 
      </td>
    </tr>
  </tbody>    
  {% endfor %}      
</table>
</div>
{% endblock %}